.toolbox_core,
.toolbox_info {
	width:1000px;
}

.toolbox_core table.core_table {
	border:0px;
  	border-spacing:2px;;
  	border-collapse:separate;
	margin:0px;
	padding:0px;
	width:100%;
}

.toolbox_core table.core_table tr.core_header,
.toolbox_core table.core_table tr.core_submit {
	background-color:#e2e2e2;
	line-height:24px;
}

.toolbox_core table.core_table tr.core_error_header {
	background-color:#edc2c2;
	line-height:24px;
}

.toolbox_core table.core_table tr.core_success_header {
	background-color:#c0eac1;
	line-height:24px;
}

.toolbox_core table.core_table tr.core_header th,
.toolbox_core table.core_table tr.core_error_header th,
.toolbox_core table.core_table tr.core_success_header th {
	font-size:12px;
	padding:3px;
	text-align:left;
}

.toolbox_core table.core_table tr.core_header th.core_options {
	text-align:center;
}

.toolbox_core table.core_table tr.core_error_0 {
	background-color:#F7EFEF;
}

.toolbox_core table.core_table tr.core_error_1 {
	background-color:#F9F4F4;
}

.toolbox_core table.core_table tr.core_success_0 {
	background-color:#F3F7F2;
}

.toolbox_core table.core_table tr.core_success_1 {
	background-color:#F9F4F4;
}

.toolbox_core table.core_table tr.core_data_0 {
	background-color:#f6f6f6;
}

.toolbox_core table.core_table tr.core_data_1 {
	background-color:#f2f2f2;
}

.toolbox_core table.core_table tr.core_data td.core_title {
	width:25%;
}

.toolbox_core table.core_table tr.core_data td.core_value {
	width:75%;
}

.toolbox_core table.core_table tr.core_data td.core_value input[type="text"],
.toolbox_core table.core_table tr.core_data td.core_value input[type="password"],
.toolbox_core table.core_table tr.core_data td.core_value input[type="submit"],
.toolbox_core table.core_table tr.core_data td.core_value select {
	margin:2px;
	line-height:16px;
}

.toolbox_core table.core_table tr.core_data td.core_value input[type="text"],
.toolbox_core table.core_table tr.core_data td.core_value input[type="password"],
.toolbox_core table.core_table tr.core_data td.core_value select {
	width:75%;
}

.toolbox_core table.core_table tr.core_data td.core_value input[type="submit"] {
	padding-left:12px;
	padding-right:12px;
}

.toolbox_core table.core_table tr.core_data th,
.toolbox_core table.core_table tr.core_data td,
.toolbox_core table.core_table tr.core_error td,
.toolbox_core table.core_table tr.core_success td {
	font-size:12px;
	padding:3px;
}

.toolbox_core table.core_table tr.core_data td,
.toolbox_core table.core_table tr.core_error td,
.toolbox_core table.core_table tr.core_success td {
	text-align:left;
}