html {
	overflow-y:scroll;
}

body {
	padding-top: 70px;
	margin-bottom: 60px;
}

nav {
	z-index:1001;
}

footer p {
	margin-top:14px;
}

.navbar-brand {
	padding-left:52px;
}

.navbar-brand i {
	position:absolute;
	display:block;
	height:32px;
	width:32px;
	margin-top:-6px;
	margin-left:-36px;
	background:url('../img/oswtools.svg');
}

.d-block {
	display:block;
}

.d-inline {
	display:inline;
}

.d-inline-block {
	display:inline-block;
}

.panel-license .panel-body {
	max-height:300px;
	overflow-y:scroll;
}

.used-software a {
	overflow:hidden;
}

.used-software img {
	height:100px;
	padding:20px;
	overflow:hidden;
}

.navbar-brand a {
	color:#777777;
}

.navbar-brand a:hover {
	text-decoration:none;
}

.buttonosw {
	border:1px solid #cccccc;
	padding:3px;
	border-radius: 3px;
	color:#777777;
}

.buttonosw.disabled,
.buttonosw[disabled] {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
	color:#cccccc;
}

.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
	z-index:2010;
}
