body {
    overflow-y: scroll;
}

.bootstrap-select .dropdown-toggle::after {
    display: none;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.custom-select.dropdown-toggle::after {
    display: none;
}

.scroll-to-top {
    z-index: 1100;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(81, 81, 81, 0.5);
    line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #777;
}

.scroll-to-top i {
    font-weight: 800;
}

.card-license .card-body {
    max-height: 300px;
    overflow-y: scroll;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.dropdown-flex-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-scrollable-menu {
    height: auto;
    max-height: 24rem;
    overflow-x: hidden;
}

main a {
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

.bootbox-close-button {
    display:none;
}

iframe.iframe {
    height: calc(100vh - 20rem)!important;
    width:100%;
}