body {
    overflow-y: scroll;
}

.bootstrap-select .dropdown-toggle::after {
    display: none;
}

.scroll-to-top {
    z-index: 1100;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(81, 81, 81, 0.5);
    line-height: 46px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
}

.scroll-to-top:hover {
    background: #777;
}

.scroll-to-top i {
    font-weight: 800;
}

.card-license .card-body {
    max-height:300px;
    overflow-y:scroll;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}

.dropdown-flex-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}