.ddm4_iframe_holder {
    background-color: #fff;
    background: url("/data/resources/ddm4/1.0.1-default/loader.gif") center center no-repeat;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.ddm4_iframe_content {
    border: 0;
    width: 100%;
}


.form-control.disabled, .form-control.readonly {
    background-color: #e9ecef;
    opacity: 1;
}

.modal .modal-dialog {
    max-width: 95%;
    max-height: 95%;
    width: 800px;
    height: 600px;
}

.modal .modal-dialog .ddm4_iframe_holder,
.modal .modal-dialog .ddm4_iframe_content {
    height: 600px;
}

.modal.modal-log .modal-dialog {
    width: 1920px;
}

.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 16px;
}

.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
    animation-duration: 0.6s;
    min-width: 100%;
    min-height: 100%;
}

.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
}

.modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
}

.modal.modal-fullscreen.force-fullscreen .modal-header,
.modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: absolute;
    right: 0;
}

.modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0;
}

.modal.modal-fullscreen.force-fullscreen .modal-footer {
    bottom: 0;
}

.form-control-rborder {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}