# osWFrame .htaccess permission begin #

# osWFrame .htaccess permission end #

# osWFrame .htaccess block begin #

RewriteEngine on

RewriteRule ^tools.([a-z0-9-_]+).stable$ ?module=tools.$1.stable&%{QUERY_STRING} [L]
RewriteRule ^tools.([a-z0-9-_]+).stable/$ ?module=tools.$1.stable&%{QUERY_STRING} [L]
RewriteRule ^tools.([a-z0-9-_]+).stable/([a-z0-9-_]+)$ ?module=tools.$1.stable&action=$2&%{QUERY_STRING} [L]
RewriteRule ^tools.([a-z0-9-_]+).stable/([a-z0-9-_]+)/$ ?module=tools.$1.stable&action=$2&%{QUERY_STRING} [L]

RewriteRule ^([a-zA-Z0-9-_]+)/([a-zA-Z0-9-]+)?_([0-9]+)$ ?module=$1&element_id=$3&%{QUERY_STRING} [L]
RewriteRule ^([a-zA-Z0-9-_]+)$ ?module=$1&%{QUERY_STRING} [L]

ErrorDocument 400 ?module=_errorlogger&error_status=400
ErrorDocument 401 ?module=_errorlogger&error_status=401
ErrorDocument 402 ?module=_errorlogger&error_status=402
ErrorDocument 403 ?module=_errorlogger&error_status=403
ErrorDocument 404 ?module=_errorlogger&error_status=404
ErrorDocument 405 ?module=_errorlogger&error_status=405
ErrorDocument 406 ?module=_errorlogger&error_status=406
ErrorDocument 407 ?module=_errorlogger&error_status=407
ErrorDocument 408 ?module=_errorlogger&error_status=408
ErrorDocument 409 ?module=_errorlogger&error_status=409
ErrorDocument 410 ?module=_errorlogger&error_status=410
ErrorDocument 411 ?module=_errorlogger&error_status=411
ErrorDocument 412 ?module=_errorlogger&error_status=412
ErrorDocument 413 ?module=_errorlogger&error_status=413
ErrorDocument 414 ?module=_errorlogger&error_status=414
ErrorDocument 415 ?module=_errorlogger&error_status=415
ErrorDocument 416 ?module=_errorlogger&error_status=416
ErrorDocument 417 ?module=_errorlogger&error_status=417

# osWFrame .htaccess block end #